html, body {
    height: 80%;
  }
  
  #title {
    color: rgb(0, 0, 0);
    background-color:rgb(39, 127, 199);
    font-size: 80px;
    text-align: center;
  }
  
  img {
    align-self: auto;
    height: 500px;
    width: 50px;
    border-radius: 40px;
    margin-left:auto;
    margin-right: auto;
  }
  
  body {
    margin: 0;
    display: flex;
  
    
    justify-content: center;
  
    
    align-items: center;
    
    background-color: black;
  }